@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CircularStd-Book;
  src: url("../public/fonts/CircularStd-Book.otf");
  font-weight: normal;
}

@font-face {
  font-family: CircularStd-Bold;
  src: url("../public/fonts/CircularStd-Bold.otf");
}

@font-face {
  font-family: CircularStd-Light;
  src: url("../public/fonts/CircularStd-Light.otf");
  font-weight: lighter;
}

@font-face {
  font-family: CircularStd-Medium;
  src: url("../public/fonts/CircularStd-Medium.otf");
  font-weight: normal;
}
*{
  font-family: CircularStd-Book ;
}
#Bolder{
  font-family: CircularStd-Bold ;

}
body{
  display: flex;
  flex-direction: column;

}

.Header{
  font-family: CircularStd-Bold;
}